In [1]:
import pandas as pd

In [2]:
dirty_data = pd.read_csv("dataset\\books.csv")

In [3]:
dirty_data.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [4]:
# Determining which columns to use and which to drop (because they are not used)
headers_to_keep = ['id', 'book_id', 'best_book_id', 'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year', 'original_title', 'average_rating', 'ratings_count', 'work_ratings_count', 'work_text_reviews_count', 'image_url']
dirty_data_good_headers = dirty_data[dirty_data.columns.intersection(headers_to_keep)]

dirty_data_good_headers.head()

,id,book_id,best_book_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,image_url
0,1,2767052,2767052,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,4.34,4780653,4942365,155254,https://images.gr-assets.com/books/1447303603m...
1,2,3,3,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,4.44,4602479,4800065,75867,https://images.gr-assets.com/books/1474154022m...
2,3,41865,41865,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,3.57,3866839,3916824,95009,https://images.gr-assets.com/books/1361039443m...
3,4,2657,2657,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,4.25,3198671,3340896,72586,https://images.gr-assets.com/books/1361975680m...
4,5,4671,4671,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,3.89,2683664,2773745,51992,https://images.gr-assets.com/books/1490528560m...

In [5]:
# Checking for Na/NaN and removing any, if present
dirty_data_good_headers.isnull().sum().sum()

# It may not show, but we have a few thousand-ish rows containing NaN. Considering we have a dataset of 10K, let's see where those NaN's are
for i in headers_to_keep:
    print(i)
    print(dirty_data_good_headers[i].isnull().values.any())
    print(dirty_data_good_headers[i].isnull().sum().sum())
    print("**********")

# Hmm. I'm taking a guess and say that the ISBN13 and original title NaN's are for the same rows, as it is very uncanny that they both have the same number
# Let's remove all NaN's and see with how many we end up with
print("New data with NaN removed")
dirty_data_remove_na = dirty_data_good_headers.dropna()

for i in headers_to_keep:
    print(i)
    print(dirty_data_remove_na[i].isnull().values.any())
    print(dirty_data_remove_na[i].isnull().sum().sum())
    print("**********")    

# We end up with over 8K rows left. Considering that is still 4/5 of the original dataset, I'll continue using the NaN-free dataset from now on

id
False
0
**********
book_id
False
0
**********
best_book_id
False
0
**********
books_count
False
0
**********
isbn
True
700
**********
isbn13
True
585
**********
authors
False
0
**********
original_publication_year
True
21
**********
original_title
True
585
**********
average_rating
False
0
**********
ratings_count
False
0
**********
work_ratings_count
False
0
**********
work_text_reviews_count
False
0
**********
image_url
False
0
**********
New data with NaN removed
id
False
0
**********
book_id
False
0
**********
best_book_id
False
0
**********
books_count
False
0
**********
isbn
False
0
**********
isbn13
False
0
**********
authors
False
0
**********
original_publication_year
False
0
**********
original_title
False
0
**********
average_rating
False
0
**********
ratings_count
False
0
**********
work_ratings_count
False
0
**********
work_text_reviews_count
False
0
**********
image_url
False
0
**********

In [6]:
# original_publication_year is not integer, so we must change that
publication_year_int = dirty_data_remove_na['original_publication_year']
publication_year_int = [int(i) for i in publication_year_int]

dirty_data_good_years = dirty_data_remove_na

# Now we insert the correct integer year into the df in place of the float years
dirty_data_good_years['original_publication_year'] = publication_year_int

# And now, to check
dirty_data_good_years.head()

# It works, yay ^.^

C:\Users\lou-a\Anaconda3\envs\MININTEL\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,book_id,best_book_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,image_url
0,1,2767052,2767052,272,439023483,9.780439e+12,Suzanne Collins,2008,The Hunger Games,4.34,4780653,4942365,155254,https://images.gr-assets.com/books/1447303603m...
1,2,3,3,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,4.44,4602479,4800065,75867,https://images.gr-assets.com/books/1474154022m...
2,3,41865,41865,226,316015849,9.780316e+12,Stephenie Meyer,2005,Twilight,3.57,3866839,3916824,95009,https://images.gr-assets.com/books/1361039443m...
3,4,2657,2657,487,61120081,9.780061e+12,Harper Lee,1960,To Kill a Mockingbird,4.25,3198671,3340896,72586,https://images.gr-assets.com/books/1361975680m...
4,5,4671,4671,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925,The Great Gatsby,3.89,2683664,2773745,51992,https://images.gr-assets.com/books/1490528560m...

In [7]:
# Nice, but those pesky isbn13 e+12 is bothering me. Let's see how we can change that
changing_isbn13 = dirty_data_good_years['isbn13']
changing_isbn13 = [int(i) for i in changing_isbn13]

# Ha, easy fix when you know the trick
dirty_data_good_years['isbn13'] = changing_isbn13

dirty_data_good_years.head()

C:\Users\lou-a\Anaconda3\envs\MININTEL\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,book_id,best_book_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,image_url
0,1,2767052,2767052,272,439023483,9780439023480,Suzanne Collins,2008,The Hunger Games,4.34,4780653,4942365,155254,https://images.gr-assets.com/books/1447303603m...
1,2,3,3,491,439554934,9780439554930,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,4.44,4602479,4800065,75867,https://images.gr-assets.com/books/1474154022m...
2,3,41865,41865,226,316015849,9780316015840,Stephenie Meyer,2005,Twilight,3.57,3866839,3916824,95009,https://images.gr-assets.com/books/1361039443m...
3,4,2657,2657,487,61120081,9780061120080,Harper Lee,1960,To Kill a Mockingbird,4.25,3198671,3340896,72586,https://images.gr-assets.com/books/1361975680m...
4,5,4671,4671,1356,743273567,9780743273560,F. Scott Fitzgerald,1925,The Great Gatsby,3.89,2683664,2773745,51992,https://images.gr-assets.com/books/1490528560m...

In [8]:
# Well, I have problems in the isbn row, so, for now, ive decided to remove that column, seeing as isbn13 is used more commonly anyway
dirty_data_no_isbn = dirty_data_good_years

dirty_data_no_isbn = dirty_data_no_isbn.drop(['isbn'], axis = 1)

dirty_data_no_isbn.head()

,id,book_id,best_book_id,books_count,isbn13,authors,original_publication_year,original_title,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,image_url
0,1,2767052,2767052,272,9780439023480,Suzanne Collins,2008,The Hunger Games,4.34,4780653,4942365,155254,https://images.gr-assets.com/books/1447303603m...
1,2,3,3,491,9780439554930,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,4.44,4602479,4800065,75867,https://images.gr-assets.com/books/1474154022m...
2,3,41865,41865,226,9780316015840,Stephenie Meyer,2005,Twilight,3.57,3866839,3916824,95009,https://images.gr-assets.com/books/1361039443m...
3,4,2657,2657,487,9780061120080,Harper Lee,1960,To Kill a Mockingbird,4.25,3198671,3340896,72586,https://images.gr-assets.com/books/1361975680m...
4,5,4671,4671,1356,9780743273560,F. Scott Fitzgerald,1925,The Great Gatsby,3.89,2683664,2773745,51992,https://images.gr-assets.com/books/1490528560m...

In [9]:
# Nice, this looks right. I'm a bit concerned about those authors containing comma's, but let's see what happens. Firstly, let's give the df a final name change, for the prettiness of it all
clean_data = dirty_data_no_isbn

In [10]:
# Alright, let's see if we can export the dataframe into a new csv
clean_data.to_csv(r'F:\Hogeschool\Minor - DS\ratingRecommender\dataset\cleaned_data_books_version_3.csv', sep=',', index = False)